@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  width: 100%;
  margin: 0 auto;
  height: 300px;
  object-fit: cover;
}

p {
  margin: 7px 0;
  font-weight: 400;
  line-height: 1.7rem;
}

h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.3rem;
}
body {
  background-color: #f3f3f3;
}
/* グローバルなMarkdown用のスタイル */
.markdown-body {
  font-family: "Inter", sans-serif; /* モダンで読みやすいフォント */
  color: #333; /* 本文の文字色 */
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3 {
  color: #222; /* 見出しの文字色 */
}

.markdown-body a {
  color: #1d4ed8; /* 青色でリンクを強調 */
  text-decoration: underline;
}

.markdown-body code {
  background-color: rgba(27, 31, 35, 0.05); /* コードスニペット用の背景 */
  padding: 0.2em 0.4em;
  border-radius: 4px;
}
